
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400&display=swap');
*{
    font-family: "Nunito Sans", sans-serif ;
}
.container_foto {
}

.container_pai {
    display: flex;
    justify-content: space-evenly;
    padding: 2vw;
    
    
}

.container_elementos {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    margin-top: 0vw;
    height: 29vw;
    background-color: #f5eadd;
    border-radius: 15px;
}
.pailegal{
    background-color: #f5eadd;
    margin: 2vw;
    border-radius: 2vw;
    box-shadow: black 0px 0px 10px;
    height: 36vw;
    
}

.container_paragrafo {
    display: flex;
    align-items: center;
    height: 14%;
    font-size: 1.5vw;
    font-family: "Nunito Sans", sans-serif ;
    color: #5b3a30;
}

.container_titulo {
    margin-top: 1vw;
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -3vw;
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
     color: #5b3a30;
}

.dinheiro {
    font-size: 2vw;
    color: rgb(38, 119, 36);
}

.container_encomenda {
    width: 32vw;
    display: flex;

    justify-content: space-between;
}

.container_botao {
    margin-left: -5vw;
    background-color: #5b3a30;
    font-weight: 900;
    border-radius: 0.5vw;
    height: 2vw;
    width: 8vw;
    color: white;
    font-size: 1vw;
}


.container_lista {
    display: flex;
    justify-content: space-evenly;
    width: 15vw;
}

li {
    list-style-type: none
}

.container_kilos {
    background-color:  #C51B1D;
    font-weight: 900;
    margin-top: 2vw;
    border-radius: 0.5vw;
    height: 2vw;
    width: 5vw;
    color: white;
}

.container_paiAdicionar {
    display: flex;
    height: 13vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 30vw;
    margin-top: -1vw;
    overflow-y: scroll;
    overflow-x: hidden;
    

}

.container_filhoAdicionar {
    background-color: white;
    width: 28vw;
    height: 3vw;
    display: flex;
    justify-content: space-around;
    border-radius: 0.8vw;
    margin-top: 1.4vw;
    display: flex;
    align-items: center;
    border-radius: 3vw;
    border: 1.5px solid black
}

.container_botaoPaiAdicionar {

    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0.5vw;
    width: 14vw;
    height: 15vw;

}


/* .Morango2{
    margin-top:-0.5vw;
} */
.paragrafoUm {
    display: flex;

}

.naosei {
    height: 6vw;
    display: flex;
    align-items: center;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7vw;
}

.botaoAdicionar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4vw;
    height: 2vw;
    width: 3.5vw;
    font-size: 2vw;
    background-color: rgba(52, 52, 52, 1);
    color: white;
}

.container_botaoPaiAdicionarBanana {
    margin-left: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    justify-content: space-around;

}

.Morango {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5vw;
    font-size: bold;
    font-weight: bold;
    font-weight: 100;


}

.container_ob {
    width: 41vw;
    height: 6vw;
    display: flex;
    
    
}

.ob {
    width: 39vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3vw;
}

.container_botaodois {
    background-color: #5b3a30;
    font-weight: 900;
    border-radius: 1vw;
    height: 3vw;
    width: 8vw;
    color: white;
    font-size: 1vw;
    margin-top:1vw;
  
}
.container_botaodois:hover {
    background-color: white;
    color: black;
}
.container_botaodois:hover {
    background-color: white;
    color: black;
}

.container_retirada {
    display: flex;
    justify-content: space-around;
    width: 45vw;
    height: 0vw;
}

.container_gamb {
    margin-left: -8vw;
    display: flex;
    align-items: center;
    height: 5vw;
}

.num {
    width: 2vw;
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5vw;
    border: 1.5px solid black
}

.paragrafoTamanho {
    font-size: 1.3vw;
}
.bolofoto{
    width: 40vw;
    height: 30vw;
    margin-top: 2vw;
    margin-left: 2vw;
    border-radius: 15px;
}