<<<<<<< HEAD
html,
body {
    height: auto;
}
=======
/* body,
html{
    height: auto;
} */
>>>>>>> 022f90f58c4bac17e4da02fe60853f7e181c5108

.container_foto {
    background-color: black;
    width: 40%;
    height: 28vw;
    margin-left: 10vw;
    margin-top: 3vw;
}

.container_pai {
    display: flex;


}

.container_elementos {
    display: flex;
    flex-direction: column;
    margin-left: 4vw;
    margin-top: 0vw;

}

.container_paragrafo {
    display: flex;
    align-items: center;
    height: 14%;


}

.container_titulo {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    margin-top: 1vw;
    height: 2vw;
}

.dinheiro {
    font-size: 1.5vw;
    color: rgba(27, 85, 25, 1);
}

.container_encomenda {
    width: 32vw;
    display: flex;

    justify-content: space-between;
}

.container_botao {
    margin-left: -5vw;
    background-color: #A7176D;
    font-weight: 900;
    border-radius: 0.5vw;
    height: 2vw;
    width: 8vw;
    color: white;
    font-size: 1vw;
}

.container_lista {
    display: flex;
    justify-content: space-evenly;
    width: 30vw;
}

li {
    list-style-type: none
}

.container_kilos {
    background-color: rgba(154, 57, 116, 1);
    font-weight: 900;
    margin-top: 2vw;
    border-radius: 0.5vw;
    height: 2vw;
    width: 5vw;
    color: white;
}

.container_paiAdicionar {
    display: flex;
    height: 17vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 30vw;
    margin-top: -2vw;

}

.container_filhoAdicionar {
    background-color: white;
    width: 30vw;
    height: 3vw;
    display: flex;
    justify-content: space-around;
    border-radius: 0.8vw;
    margin-top: 1.4vw;
    display: flex;
    align-items: center;

}

.container_botaoPaiAdicionar {

    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0.5vw;
    width: 14vw;
    height: 15vw;

}

/* .Morango2{
    margin-top:-0.5vw;
} */
.paragrafoUm {
    display: flex;

}

.naosei {
    height: 6vw;
    display: flex;
    align-items: center;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7vw;
}

.botaoAdicionar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4vw;
    height: 2vw;
    width: 3.5vw;
    font-size: 2vw;
    background-color: rgba(52, 52, 52, 1);
    color: white;
}

.container_botaoPaiAdicionarBanana {
    margin-left: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    justify-content: space-around;

}

.Morango {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5vw;
    font-size: bold;
    font-weight: bold;
    font-weight: 100;


}

.container_ob {
    width: 41vw;
    height: 6vw;
    display: flex;
}

.ob {
    width: 39vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_botaodois {
    background-color: #A7176D;
    font-weight: 900;
    border-radius: 1vw;
    height: 3vw;
    width: 8vw;
    color: white;
    font-size: 1vw;

}

.container_retirada {
    display: flex;
    justify-content: space-around;
    width: 45vw;
}

.container_gamb {
    margin-left: -8vw;
}

.num {
    width: 2vw;
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5vw;
    border: 1.5px solid black
}

.paragrafoTamanho {
    font-size: 1.3vw;
}