body{
  overflow-x:hidden;
}
.container_PaiDetalhe{
    background-color: white;
    margin-left: 4.5vw;
    width: 90vw;
    height:35vw;
    display: flex;
    margin-top: 1.5vw;
    
}
.container_filhoDetalhe{
    width: 90vw;
    height: 9vh;
    display: flex;
    align-items: end;
    background-color: white;
    justify-content: center;
}
.container_tituloDetalhe{
    color: black;
    width: 19.5vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 2.5vw;
}
.listagem{
    width: 80vw;
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
    margin-top: 4vw;
    background-color: #DEDEDE;
    margin-left: 4vw;
    height: 2vw;
    align-items: center;
}
li{
    width: 17vw;;
}
.listaDois{
    width: 99vw;
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
    margin-top: 2vw;
    height: 2vw;
    align-items: center;
}

.lixeira{
    margin-left: -7vw;
    
}
.lixoimg{
    width: 3vw;
}
.linha{
    width: 85vw;
    height: 0.1vw;
    background: black;
    margin-left: 3vw;
    margin-top: 2vw;
}
.container_itens{
    display: flex;
    width: 90vw;
    align-items: center;
    flex-direction: column
}
.container_lembrete{
    display: flex;
    width: 85vw;
    align-content: stretch;
    justify-content: space-between;
}
.container_botaozinho{
    height: 4vw;
    width: 12vw;
    background-color: rgba(167, 23, 109, 1);
    color: white;
    border-radius: 0.5vw;
}
.gambiarra{
    margin-top:-1vw;
    margin-left: 3vw;
}
.gambiarraDois{
    margin-left: 3vw;
}
.botaoDetalhe{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4vw;
    height: 2vw;
    width: 3.5vw;
    font-size: 2vw;
    background-color: rgba(52, 52, 52, 1);
    color: white;
}

.diferenciado{
    display: flex;
}
.botaoMais{
display: flex;
width: 10vw;
    display: flex;
    justify-content: space-between;
}

.numeroDiv{
    width: 2vw;
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5vw;
    border: 1.5px solid black
}
.coroa {
    display: flex;
    height: 60%;
}
.botaoAdicionar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4vw;
    height: 2vw;
    width: 3.5vw;
    font-size: 2vw;
    background-color: rgba(52, 52, 52, 1);
    color: white;
    
}
.containerPreco{
    font-size: 1.5vw;
    color: rgba(136, 109, 3, 1);
}
.bolos{
    width: 6vw;
}
.gambiarraTres{
    margin-left: 3vw;
    color: red;
}