/* src/components/RetiradaModal.module.css */

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 90%;
    text-align: center;
    position: relative;
}

.title {
    font-size: 24px;
    font-family: 'Cursive', sans-serif;
}

.subtitle {
    font-weight: bold;
    margin: 10px 0;
}

.options {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 15px 0;
}

.optionButton {
    background-color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.datePicker {
    margin: 15px 0;
}

.dateButton {
    background-color: #b0b0b0;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.encomendarButton {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.horario {
    width: 5vw;
    height: 2vw;
}